html {
    font-family: sans-serif;
}

.centre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.board {
    user-select: none;
    border-color: #000000;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    background-color: #1D60F2;
    max-width: fit-content;
}

.position {
    margin: 5px;
    padding: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    border-radius: 100px;
}

.game-container {
    display: flex;
    flex-direction: column;
}

.popup-container {
    position: fixed;
    top: 25%;
    background-color: #ffffff;
    width: 20%;
    height: 250px;
    border-style: solid;
    border-color: #000000;
    border-width: 3px;
    border-radius: 15px;
}

.close-button {
    position: absolute;
    right: 1%;
    cursor: pointer;
    font-size: 30px;
    border-color: transparent;
    border-style: solid;
    border-radius: 15px;
    background-color: transparent;
}

.popup-head {
    display: flex;
}

.popup-header {
    font-size: 30px;
}
.popup-paragraph {
    margin-top: -2%;
    font-size: 27.5px;
}

.popup-body {
    text-align: center;
}

.continue-button {
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    padding: 3%;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #e9e9ed;
}

.hover-pieces {
    display: flex;
    flex-direction: row;
}

.hover-piece {
    visibility: hidden;
    margin: 7.15px;
    padding: 30px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    background-color: #ffffff;
    border-radius: 100px;
}